<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Fantasy Playbook</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <h1>The Fantasy Playbook</h1>
    <div class="box-container">
        <div class="box">
            <h2><a href="/stats">Stats</a></h2>
            <p>Compare players' stat</p>
        </div>
        <div class="box">
            <h2><a href="/graph">Graph</a></h2>
            <p>Explore the evolution of players' stats week by week</p>
        </div>
        <div class="box">
            <h2><a href="/projections">Projections</a></h2>
            <p>View season projections based on our algorithm</p>
        </div>
        <div class="box">
            <h2><a href="/teams">Team Comparison</a></h2>
            <p>Assess teams' output in rushing and passing</p>
        </div>
    </div>
</body>
</html>